[submodule "cpp/limovelo_cpp/external/ikd-Tree"]
	path = cpp/limovelo_cpp/external/ikd-Tree
	url = git@github.com:bertaveira/ikd-Tree.git
[submodule "cpp/limovelo_cpp/external/IKFoM"]
	path = cpp/limovelo_cpp/external/IKFoM
	url = git@github.com:bertaveira/IKFoM.git
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11.git
